@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        @{
            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count > 0)
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button class="btn btn-block btn-social btn-@provider.DisplayName.ToLower()" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><span class="fa fa-@provider.DisplayName.ToLower()"></span>Sign in with @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>
    <div class="col-md-6" style="border-left: 1px solid #dedede;">
        <form asp-controller="Account" asp-action="Login" id="registerForm" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal col-sm-12">
            <h2>Log in.</h2>
            <hr />
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email/Username" id="username" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger" style="margin-left:-35px"></div>
            <div class="form-group">

                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" style="height:20px" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-lg btn btn-primary">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
