@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        @{
            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count > 0)
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button class="btn btn-block btn-social btn-@provider.DisplayName.ToLower()" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><span class="fa fa-@provider.DisplayName.ToLower()"></span>Register with @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>
    <div class="col-sm-6" style="border-left: 1px solid #dedede;">
        <form asp-controller="Account" asp-action="Register" id="registerForm" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal col-sm-12">
            <h2>Let's get started</h2>
            <hr />

            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="Username" id="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div id="locationResults" class="form-group">
                <input hidden type="text" asp-for="locationId" id="locationSearchID" />
                <input type="text" asp-for="locationName" class="form-control" id="locationSearch" placeholder="Start typing your city...">
                <span asp-validation-for="locationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <span asp-validation-for="Email" class="text-danger col-md-12" style="padding:0"></span>

            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="InstagramUsername" class="form-control" placeholder="Instagram Username" />
                <span asp-validation-for="InstagramUsername" class="text-danger"></span>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger" style="margin-left:-35px"></div>
            <div class="form-group">
                <button id="registerButton" type="submit" class="btn-lg btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: [],

        });
        var items = [];
        $('#locationSearch').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("Search", "Home")",
                    type: "GET",
                    data: request,
                    success: function (data) {
                        response(data);
                    }
                });
            },
            appendTo: $('#locationResults'),
            select: function (event, ui) {
                $('#locationSearch').val(ui.item.label);
                $('#locationSearchID').val(ui.item.value);
                return false;
            }
        });
    });
</script>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
