@using PagedList.Core;
@using PagedList.Core.Mvc; 
@model IPagedList<GoSocial.Models.Message>
@{
    ViewData["Title"] = "My Messages";
}
@section scripts{
    $(document).on("click", ".InboundMessage", function(e){
    var messageId = e.currentTarget.id;
    $("#messageContainer").empty();
    $('#messageContainer').load('/Message/Details?messageId=' + messageId);
    });
    $("#sentMessages").click(function(event){
    $.ajax({
    type: "GET",
    url: '/Message/Sent',
    success: function(data){
    $("#messageMenu button").removeClass("active");
    $("#sentMessages").addClass("active");
    $("#messageContainer").empty();
    $("#messageContainer").html(data);
    }
    });

    });
    $("#receivedMessages").click(function(event){
    $.ajax({
    type: "GET",
    url: '/Message/Received',
    success: function(data){
    $("#messageMenu button").removeClass("active");
    $("#receivedMessages").addClass("active")
    $("#messageContainer").empty();
    $("#messageContainer").html(data);
    }
    });

    });
    $("#archivedMessaeges").click(function(event){
    $.ajax({
    type: "GET",
    url: '/Message/Archived',
    success: function(data){
    $("#messageMenu button").removeClass("active");
    $("#archivedMessaeges").addClass("active")
    $("#messageContainer").empty();
    $("#messageContainer").html(data);
    }
    });

    });

}
<div class="container">
    <h1>Messages</h1>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group" id="messageMenu">
                <button type="button" id="receivedMessages" class="list-group-item list-group-item-action active">
                    <span class="badge">@Model.Count()</span>
                    Inbox
                </button>
                <button type="button" id="sentMessages" class="list-group-item list-group-item-action">Sent</button>
                <button type="button" id="archivedMessaeges" class="list-group-item list-group-item-action">Archived</button>
            </div>
        </div>
        <div class="col-md-10" id="messageContainer">
            <!--/inbox toolbar-->
            <div class="panel panel-default inbox" id="inboxPanel">
                <!--message list-->
                <div class="table-responsive">
                    <table class="table table-hover refresh-container pull-down">
                        <thead class="hidden-xs">
                            <tr>
                                <td class="col-sm-3"><a href="javascript:;"><strong>From</strong></a></td>
                                <td class="col-sm-2"><a href="javascript:;"><strong>Title</strong></a></td>
                                <td class="col-sm-4"><a href="javascript:;"><strong>Recieved</strong></a></td>
                                <td class="col-sm-1"></td>
                            </tr>
                        </thead>

                        <tbody id="messageInfo">
                            @foreach (var message in Model)
                            {
                                <tr class="InboundMessage" id=@message.MessageId style="cursor:pointer">

                                    <td class="col-xs-4"><span>@Html.DisplayFor(x => message.FromUser.UserName)</span></td>
                                    <td class="col-xs-5"><span>@Html.DisplayFor(x => message.MessageSubject)</span></td>
                                    <td class="col-xs-2"><span>@Html.DisplayFor(x => message.CreateDate)</span></td>
                                    <td class="col-sm-1">@Html.ActionLink("Archive", "Delete", "Message", message, new { @class = "btn btn-warning btn-sm" })</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div id="messageDetails"></div>
                </div>
                <!--message detail-->
            </div><!--/inbox panel-->
            <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.OnlyShowFivePagesAtATime" asp-action="Index" asp-controller="Message" />
            <hr>

        </div><!--/col-9-->
        <div>
            <!--/row ng-controller-->

        </div><!--/container-->

    </div>

</div>